p.flavor_text{
    font-size:16px;
}
video.video-js{
    margin-left:124px;
    margin-right:124px;
}
p.vjs-no-video{
    text-align:center;
}
div.video-js-box{
    margin: 50px 0px;
}

h3.exerciselink{
    margin-top:30px;
    margin-bottom:0px;
}
.padded_hr{
    margin-top:20px;
    margin-bottom:20px;
}
b {
    color: #222;
}
a {
    font-weight: bold;
}

body {
  font-size: 16px;
}

#Header {
  font-size: 12.4px;
}

#FeatureMatrix {
  font-size: 16px;
}

#FeatureMatrix .matrixItem, .matrixOdd, .matrixEven{
  padding: 20px 20px;
  vertical-align: middle;

}

#Showcase {
  background-color: white;
}

#Showcase .sponsor-logos a {
  padding-left: 30px;
  padding-right: 30px;
}