/* Sponsor stuff */
a.sponsorlogo {
	display:block;
	width:100px;
	float:left;
}


/*Finicky carousel stuff*/
#carousel div.slide.slide_1 img:first-child, #carousel div.slide img:last-child,
#carousel div.slide.slide_4 div.step + img{
	display:none;
}
#carousel div.slide img:first-child,
#carousel div.slide div.step + img{
	margin-top:70px;
}

#content_wrapper {
	background-color:transparent;	
}

/* Carousel stuff */
#carousel_panel {
}
#carouselnav {
	text-align: center;
	margin: 0;
	color:transparent;
}
#carousel, #carousel_panel,#carousel > div.slide {
  height: 270px;
  width:600px;
}
#carousel {
  position: relative;
  overflow: hidden;
  margin: 0px auto 0 auto;
}
#carousel > div.slide {
	border: 0px solid #b3b3c4;
	position: absolute;
	//background-color: #d7d8ff;
	background-color: transparent;
	display: inline;
	padding-left:20px;
}
#carousel > div.slide.slide_1 {
	padding-left:70px;	
}
.step {
  width: 245px;
  height: 250px;
  float: left;
  padding: 0 0 0 25px;
}
.slide img {
  float: left;
}
#carousel .placeholder {
  width: 25px;
  height: 250px;
  float: left;
}
.step h4 {
  padding: 50px 0px 20px;
}
#carouselnav a {
  color: #060D05;
  font-weight: bold;
}
#carouselnav a:hover {
  color: #28289F;
  cursor:pointer;
}
#carouselnav a {
  margin: 0 5px 0 5px;
}
#carouselnav {
  //color: #62B249;
}


