table {
	border-width: 0px;
	border-spacing: 2px;
	border-style: none;
	border-color: white;
	border-collapse: separate;
}
td {
	padding: 50px;
	margin: 5px;
}
.r1c1 {
	background-color: #7575FF;
}
.r1c2 {
	background-color: #6969E5;
}
.r1c3 {
	background-color: #5858BF;
}
.r1c4 {
	background-color: #3A3A7F;
}
.r1c5 {
	background-color: #1D1D40;
}
/***************************/
.r2c1 {
	background-color: #FFB58E;
}
.r2c2 {
	background-color: #E64307;
}
.r2c3 {
	background-color: #D93F07;
}
.r2c4 {
	background-color: #992c05;
}
.r2c5 {
	background-color: #591a03;
}
/****************************/
.r3c1 {
	background-color: #59CC49;
}
.r3c2 {
	background-color: #4EB240;
}
.r3c3 {
	background-color: #3D8C32;
}
.r3c4 {
	background-color: #224C1B;
}
.r3c5 {
	background-color: #060D05;
}
