/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
	background:url(images/SlideShow_BG.gif) no-repeat;
	width:522px;
	height:254px;
	margin:0 auto;
	padding-top:0px;
	margin-top:20px;
}

#slider {
	position:relative;
    width:522px;
    height:254px;
    margin-left:0px;
	background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

#slider .nivo-controlNav {
	position:absolute;
	left: 0px;
	bottom:0px; /* Put the nav below the slider */
}
#slider .nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:0px;
}


.nivo-controlNav a {
	display:block;
	width:90px;
	height:34px;
	border:1 solid #F00;
	margin-left:33px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 0px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}

/* ADVANCE */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
