/* CSS reset styles based in part on Eric Meyer as well as Ed Elliot's recommended settings */

html, div, span, applet, object, iframe, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;  padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body{ padding:0; margin:0; font:normal 13px/1 Arial,Helvetica,Garuda,sans-serif;}
h1, h2, h3, h4, h5, h6, ul, li, p, em, strong, pre, code {
	padding:0; margin:0; line-height: inherit; font-size:100%; font-weight:normal; font-style: normal;}
ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table {	border-collapse: collapse; 	border-spacing: 0; font-size:inherit;}

/* starter styles */

form {display:block;}
pre, blockquote, ul, ol, dl, address {margin:0 0 1em;}
p {margin:0 0 1em;}
xmp {padding:15px;}
cite, em, dfn {font-style:italic;}
strong, b {font-weight: bold;}
sup {
	bottom:0.3em;
	position:relative;
	vertical-align:baseline;}
sub {
	bottom:-0.2em;
	position:relative;
	vertical-align:baseline;}
li, dd, blockquote {margin-left:1em;}
code, kbd, samp, pre, tt, var, textarea {
	font-family: Consolas, "Lucida Console", "Courier New", Courier, mono-space;
	font-size:100%;}
del {text-decoration:line-through;}
ins, dfn {border-bottom:1px solid #ccc;}
small, sup, sub {font-size:85%;}
abbr, acronym {
	border-bottom-style:dotted;
	border-bottom-width:1px;
	text-transform:uppercase;}
a abbr, a acronym {border:medium none;}
sup {vertical-align:super;}
sub {vertical-align:sub;}
a, a:link, a:visited, a:hover, a:active {text-decoration:none;}
a img {
	border: 0;
	text-decoration:none;}
img {
	border: 0;
	text-decoration:none;}
label, button {cursor:pointer;}
fieldset {border:medium none;}

/* common shortcuts */

.left {float:left;}
.right {float:right;}
.center {text-align: center; }
.clear {clear: both;}
.hidden { display: none !important; visibility: hidden; }
.rounded { /*-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;*/ }

img.left {
	margin-right: 8px;
	margin-bottom: 5px;}
img.right {
	margin-left: 8px;
	margin-bottom: 5px;}