@CHARSET "ISO-8859-1";

p {
	font-family:sans-serif;
}

.c6470 {
	font-family:"Lucida Console", monospace;
}

/* Carousel stuff */
#carousel_panel {
	padding: 0 80px 0 80px;
}
#carouselnav {
	text-align: center;
	margin: 30px 0 0 0; 
}
#carousel {
  height: 302px;
  width: 502px;
  position: relative;
  overflow: hidden;
  margin: 30px 0 0 0;
}
#carousel > div.slide {
	height: 300px;
	width: 500px;
	border: 1px solid #b3b3c4;
	position: absolute;
	background-color: #d7d8ff;
	display: inline;
}
.step {
  width: 275px;
  height: 250px;
  float: left;
  padding: 0 0 0 25px;
}
.slide img {
  float: left;
}
#carousel .placeholder {
  width: 25px;
  height: 250px;
  float: left;
}
.step h4 {
  padding: 50px 0px 20px;
}
a {
  color: #5858BF;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
#carouselnav a {
  margin: 0 5px 0 5px;
}
#carouselnav {
  color: #62B249;
}


