@CHARSET "ISO-8859-1";

p {
	font-family:sans-serif;
}

.c6470 {
	font-family:"Lucida Console", monospace;
}

/* Carousel stuff */
#carousel {
	overflow: hidden;
}
#carousel > div.carouselnav {
	text-align:center;
	width:100%;
	z-index:1;	
}
#slides {
  padding: 5px;
  z-index: 1;
  position: relative;
}
#slides > div.slide {
	height: 300px;
	width: 500px;
	border: 1px solid black;
	position: absolute;
	background-color:red;
	z-index: -1;
}

