@CHARSET "ISO-8859-1";

/* Carousel stuff */
#carousel_panel {
}
#carouselnav {
	text-align: center;
	margin: 0;
}
#carousel {
  height: 302px;
  width: 502px;
  position: relative;
  overflow: hidden;
  margin: 30px auto 0 auto;
}
#carousel > div.slide {
	height: 300px;
	width: 500px;
	border: 1px solid #b3b3c4;
	position: absolute;
	background-color: #d7d8ff;
	display: inline;
}
.step {
  width: 275px;
  height: 250px;
  float: left;
  padding: 0 0 0 25px;
}
.slide img {
  float: left;
}
#carousel .placeholder {
  width: 25px;
  height: 250px;
  float: left;
}
.step h4 {
  padding: 50px 0px 20px;
}
#carouselnav a {
  color: #5858BF;
  font-weight: bold;
}
#carouselnav a:active {
  color: #060D05;
}
#carouselnav a {
  margin: 0 5px 0 5px;
}
#carouselnav {
  color: #62B249;
}


