html, body {  
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;  
}

#page_wrapper {
  box-flex: 0;
  min-width: 1020px;

  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-align: stretch;
  -moz-box-orient: vertical;

  display: box;  
  box-align: stretch;
  box-orient: vertical;
  
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0; 
}
#header {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  margin: 0 0 10px 0;
}
#content_wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-align: stretch;
  -moz-box-orient: horizontal;

  display: box;
  box-align: stretch;
  box-orient: horizontal;
  
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;  
  
  margin: 0;
  padding: 0;
}

#menu {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  
  width: 180px;
  
  margin: 0 5px 0 5px;
  padding: 0;
}

#chat_container {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
    
  width: 600px;
  
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
}

#cards {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  
  width: 240px;

  margin: 0 5px 0 5px;
  padding: 0;
}
